
src/BORG-BackUP-GUI\.pro\.user

build-BORG-BackUP-GUI-Desktop-Debug/\.qmake\.stash

build-BORG-BackUP-GUI-Desktop-Debug/BORG-BackUP-GUI

build-BORG-BackUP-GUI-Desktop-Debug/borg_backup_gui\.o

build-BORG-BackUP-GUI-Desktop-Debug/Makefile

build-BORG-BackUP-GUI-Desktop-Debug/main\.o

build-BORG-BackUP-GUI-Desktop-Debug/moc_borg_backup_gui\.cpp

build-BORG-BackUP-GUI-Desktop-Debug/moc_borg_backup_gui\.o

build-BORG-BackUP-GUI-Desktop-Debug/moc_predefs\.h

build-BORG-BackUP-GUI-Desktop-Debug/ui_borg_backup_gui\.h
